---
layout: base
---
{% include_relative _resume/top.html %}
{% include_relative _resume/title.html %}
<div class="box-container">
    {% include_relative _resume/profile.html %}
</div>
<div class="box-container">
    {% include_relative _resume/aboutme.html %}
</div>
<div class="box-container">
    {% include_relative _resume/skills.html %}
    {% include_relative _resume/careers.html %}
    {% include_relative _resume/certification.html %}
    {% include_relative _resume/links.html %}
</div>
    {% include_relative _resume/companys.html %}
    {% include_relative _resume/projects.html %}
    {% include_relative _resume/coffee_chat.html %}