<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>

	<!-- 일반적인 링크 공유 카드 디자인-->
	<meta property="og:type" content="profile">
	<meta property="og:url" content="{{ site.baseurl }}">
	<meta property="og:title" content="{{ site.author.name_ko }}, {{ site.author.job }}">
	<meta property="og:description" content="{{ site.author.desc }}">
	<meta property="og:image" content="{{ site.author.picture | relative_url }}">

	<!-- Twitter 링크 공유 카드 디자인 -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ site.author.name_ko }}, {{ site.author.job }}">
	<meta name="twitter:description" content="{{ site.author.desc }}">
	<meta name="twitter:image" content="{{ site.author.picture | relative_url }}">

	<!-- Java Scripts 등록 -->
	<script src="{{ "/assets/js/localhostChecker.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/experienceCalculator.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/postLoader.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/gallery.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/formatDate.js" | relative_url }}"></script>

	<!-- CSS 등록 -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

	<!-- Font 등록 -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/font/font.css">

	<!-- Favicon 등록 -->
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/common/favicon.ico" | relative_url }}">
</head>
