<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.title }}</title>

	<!-- Open Graph(OG) -->
	<meta property="og:type" content="profile">
	<meta property="og:url" content="{{ site.baseurl }}">
	<meta property="og:title" content="{{ site.author.name_ko }}, {{ site.author.job }}">
	<meta property="og:description" content="{{ site.author.desc }}">
	<meta property="og:image" content="{{ site.author.picture | relative_url }}">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ site.author.name_ko }}, {{ site.author.job }}">
	<meta name="twitter:description" content="{{ site.author.desc }}">
	<meta name="twitter:image" content="{{ site.author.picture | relative_url }}">

	<!-- Java Scripts -->
	<script src="{{ "/assets/js/experienceCalculator.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/postLoader.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/gallery.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/formatDate.js" | relative_url }}"></script>
	<script>
		if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
			// 로컬 주소인 경우
			document.title = document.title + " (local)";
		}
	</script>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/font/font.css">

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/common/favicon.ico" | relative_url }}">
</head>
