.certification {
    margin-bottom: 20px;

    * {
        line-height: 2;
    }

    dl {
        padding-left: 10px;
        row-gap: 14px;
        align-items: center;
    }

    dt {
        float: left;
        width: 110px;

        @media (max-width: $mobile-width) {
            width: 100px;
        }
    }
}
