.company {

    .time {
        font-size: 1em;
        vertical-align: middle;
        /*position: relative;*/
        /*top: 0.2em;*/
    }

    .title {
        margin: auto 10px;
        font-size: 1.5em;
        font-weight: 600;
        vertical-align: middle;
        /*position: relative;*/
        /*top: 0.2em;*/
    }

    .experience {
        user-select: none;
        font-size: 0.8em;
        vertical-align: middle;
        position: relative;
        top: 0.1em;
    }

    .experience::before {
        content: "(";
    }

    .experience::after {
        content: ")";
    }

    .content {
        margin: 10px 0 10px 65px;
    }
}
