.company {
    &-box-container {
        position: relative;
        margin: 20px 0px;
        background-color: white;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        -webkit-box-shadow: 0 12px 12px -12px #777;
        -moz-box-shadow: 0 12px 12px -12px #777;
        box-shadow: 0 12px 12px -12px #777;
    }

    &-box-container::before {
        content: "";
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-top: 10px solid #9fa7ff;
    }

    .time {
        font-size: 1em;
        vertical-align: middle;
        /*position: relative;*/
        /*top: 0.2em;*/
    }

    .title-container {
        background: linear-gradient(190deg, #5b67ff40, transparent);
        padding: 20px 30px;
    }

    .title {
        margin: auto 10px;
        font-size: 1.4em;
        font-weight: bold;
        vertical-align: middle;
        /*position: relative;*/
        /*top: 0.2em;*/

        @media (max-width: $mobile-width) {
            font-size: 1.2em;
        }
    }

    .experience {
        user-select: none;
        font-size: 0.8em;
        vertical-align: middle;
        position: relative;
        top: 0.1em;
    }

    .experience::before {
        content: "(";
    }

    .experience::after {
        content: ")";
    }

    .content-container {
        padding: 0 0 15px 0;
        margin: 10px 0 10px 65px;

        @media (max-width: $mobile-width) {
            margin: 10px 0 10px 10px;
        }
    }
}
