.haegin-logo {
    background-image: url("/Resume/assets/img/thumbnails/haegin.png");
    background-size: 3.5em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 3.2em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin-top: -0.3em;
}
