.haegin-logo {
    background-image: url("/Resume/assets/img/thumbnails/haegin.png");
    background-size: 3.5em auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 3.2em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin-top: -0.3em;
}

.tistory-icon {
    background-image: url("/Resume//assets/img/favicon/tistory.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.github-icon {
    background-image: url("/Resume//assets/img/favicon/github.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}

.linkedin-icon {
    background-image: url("/Resume//assets/img/favicon/linkedin.png");
    background-size: 1em auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    margin: -0.2em 0.5em 0;
    vertical-align: middle;
}