.keyword {
    padding: 20px 30px;

    @media (max-width: $mobile-width) {
        padding: 10px 15px;
    }

    &-content {
        p {
            font-size: 1em;
            margin: 0.5em;

            @media (max-width: $mobile-width) {
                font-size: 0.9em;
            }
        }
    }
}
