.links {
    margin-bottom: 10px;

    dl {
        row-gap: 14px;
        align-items: center;
    }

    dt {
        float: left;
        width: 185px;
    }

    p {
        padding-left: 10px;
    }
}
