#loading-block {
    user-select: none;
    font-family: system-ui, sans-serif;
    color: gray;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.1s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

body.loading {
    overflow: hidden; /* 스크롤 비활성화 */
}

/* 로딩 스피너 */
.loader {
    width: 24px;
    height: 24px;
    border: 3px solid gray;
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* 로딩 애니메이션 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
