.profile {
    padding: 20px 30px;

    @media (max-width: $mobile-width) {
        padding: 10px 15px;
    }

    * {
        line-height: 2;
    }

    dl {
        row-gap: 14px;
        align-items: center;
    }

    dt {
        float: left;
        width: 125px;
    }

    dd {
        /*font-size: 2em;*/
    }

    &-outer-div {
        top: 50%;
        left: 50%;
    }

    #experience {
        font-size: 0.7em;
        font-weight: normal;
    }

    #experience::before {
        content: " (경력 ";
    }

    #experience::after {
        content: ")";
    }

    #age {
        font-size: 0.8em;
        font-weight: normal;
    }

    #age::before {
        content: " (만 ";
    }

    #age::after {
        content: ")";
    }

    #company {
        font-size: 0.9em;
        font-weight: normal;
    }

    #company::before {
        content: " (";
    }

    #company::after {
        content: ")";
    }
}
