.projects {
    * {
        line-height: 1;
    }

    .item {
        .container {
            position: relative;
            float: left;
            width: 550px;
            height: 250px;
        }

        .content {
            position: absolute;
            padding: 20px;

            .title {
                font-size: 28px;
                color: white;
            }
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            color: white; /* 글씨는 하얀색 유지 */
            display: flex;
            background-size: cover;
            background-position: center;
            cursor: help;
        }

        .background::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .background:hover::before {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
