.projects {
    .item {
        .container {
            display: block;
            width: 100%;
        }
        // 타이틀
        .title {
            &-container {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            &-icon {
                margin: auto 0;
                width: 2.5em;
                height: 2.5em;
                object-fit: contain;
                border-radius: 10px;
            }

            &-text {
                font-size: 1.5em;
                font-weight: bold;
                margin-top: -0.2em;
            }
        }
        // 정보
        .info {
            &-container {
                margin: 20px auto;
                display: flex;
                flex-wrap: wrap;
            }

            &-item-dt {
                flex: 1 1 calc(33.333% - 10px);
                background-color: #f5f6f9;
                color: #51555d;
                padding: 10px;
                text-align: center;
            }

            &-item-dd {
                flex: 1 1 calc(33.333% - 10px);
                padding: 10px;
                text-align: center;
            }
        }
        // 내용
        .content {
            line-height: 1.25;
        }
    }
}
