.profile {
    margin-bottom: 20px;

    * {
        line-height: 2;
    }

    dl {
        row-gap: 14px;
        align-items: center;
    }

    dt {
        float: left;
        width: 125px;
    }

    &-outer-div {
        top: 50%;
        left: 50%;
    }

    #job-start-date {
        font-size: 0.7em;
        font-weight: normal;
    }

    #job-start-date::before {
        content: "(경력 ";
    }

    #job-start-date::after {
        content: ")";
    }
}
