.project {
    &-box-container {
        position: relative;
        margin: 20px 0px;
        background-color: white;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        -webkit-box-shadow: 0 12px 12px -12px #777;
        -moz-box-shadow: 0 12px 12px -12px #777;
        box-shadow: 0 12px 12px -12px #777;
    }

    .item {
        .container {
            display: block;
            width: 100%;
        }
        // 타이틀
        .title {
            &-container {
                background: linear-gradient(190deg, #bd81ff40, transparent);
                padding: 20px 30px 10px;
            }

            &-main {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            &-sub {
                font-size: 14px;
                margin: auto auto auto 52.5px;

                @media (max-width: $mobile-width) {
                    margin: 10px;
                }

                .developmentPhase:not(:last-child)::after {
                    content: ",";
                    margin-right: 0.2rem;
                }
            }

            &-icon {
                margin: auto 0;
                width: 2.5em;
                height: 2.5em;
                object-fit: contain;
                border-radius: 10px;
            }

            &-text {
                font-size: 1.4em;
                font-weight: bold;
                margin-top: -0.2em;

                @media (max-width: $mobile-width) {
                    font-size: 1.2em;
                }
            }

            &-release {
                font-size: 1em;
                font-weight: bold;
                margin-top: -0.2em;

                @media (max-width: $mobile-width) {
                    display: none;
                }
            }

            &-release::before {
                content: "(";
            }

            &-release::after {
                content: " 출시)";
            }

            &-member {
                font-size: 0.9em;
                margin-top: -0.2em;

                @media (max-width: $mobile-width) {
                    font-size: 0.8em;
                }
            }
        }
        // 정보
        .info {
            &-container {
                margin: 20px 40px;
                display: flex;
                flex-wrap: wrap;
                z-index: 2;

                @media (max-width: $mobile-width) {
                    margin: 20px auto;
                }
            }

            &-item-dt {
                user-select: none;
                flex: 1 1 calc(33.333% - 10px);
                background-color: #f5f6f9;
                color: #51555d;
                padding: 10px 0;
                text-align: center;
            }

            &-item-dd {
                user-select: none;
                flex: 1 1 calc(33.333% - 10px);
                padding: 10px 0;
                margin-bottom: 10px;
                text-align: center;
            }
        }
        // 내용
        .content {
            line-height: 1.25;
            padding: 20px 25px 30px;

            .post-content {
                padding: 0 5px;

                p {
                    margin: 5px;
                }
            }

            ol {
                margin: 5px;
            }

            .sub-title {
                user-select: none;
                font-size: 1em;
                font-weight: bold;
                margin: 10px;
            }
        }
    }
    // 이미지 갤러리
    .gallery {
        display: flex;
        transition: transform 0.3s ease-in-out;

        &-container {
            display: flex;
            position: relative;
            width: 100%;
            margin: 10px auto;
            overflow: hidden;
        }

        &-item {
            margin: auto;
            min-width: 100%;

            &-content {
                width: 100%;
                margin: auto;

                img {
                    vertical-align: middle;
                }
            }
        }
    }

    .prev-button {
        color: gray;
        border: none;
        padding: 50px;
        cursor: default;
        background-color: #ffffff;
        z-index: 10;

        @media (max-width: $mobile-width) {
            padding: 10px;
        }
    }

    .prev-button::before {
        content: "◀";
        position: relative;
        animation: moveLeftRight 1s infinite alternate;
    }

    @keyframes moveLeftRight {
        0% {
            left: 0; /* 왼쪽 위치 */
        }

        50% {
            left: 50%; /* 왼쪽으로 이동 */
        }

        100% {
            left: 0; /* 원위치 */
        }
    }

    .prev-button:hover {
        color: #ffae44;
    }

    .next-button {
        color: gray;
        border: none;
        padding: 50px;
        cursor: default;
        background-color: #ffffff;
        z-index: 10;

        @media (max-width: $mobile-width) {
            padding: 10px;
        }
    }

    .next-button::before {
        content: "▶";
        position: relative;
        animation: moveRightLeft 1s infinite alternate;
    }

    @keyframes moveRightLeft {
        0% {
            right: 0; /* 왼쪽 위치 */
        }

        50% {
            right: 50%; /* 왼쪽으로 이동 */
        }

        100% {
            right: 0; /* 원위치 */
        }
    }

    .next-button:hover {
        color: #ffae44;
    }
}
