<div class="box-container">
    <div class="information">

        <div class="inline-box-container">
            <h3>기술 스택</h3>
            <ul>
                <li>Unity Engine</li>
                <li>Addressables</li>
                <li>uGUI, NGUI</li>
                <li>C#</li>
                <li>Jenkins</li>
            </ul>
        </div>

        <div class="inline-box-container">
            <h3>학력 및 경력</h3>

            <dl>
                <dt>2008.02 ~ 2011.02</dt>
                <dd>공항고등학교</dd>
                <dt>2011.02 ~ 2017.02</dt>
                <dd>김포대학교 컴퓨터공학</dd>
                <dt>2018.09.03 ~ 재직 중</dt>
                <dd>(주)해긴 책임 연구원</dd>
            </dl>
        </div>

        <div class="inline-box-container">
            <h3>자격증</h3>
            <dl>
                <dt>2025.09.12</dt>
                <dd>정보처리기사<div class="rocket-icon"></div></dd>
                <dt>2015.07.31</dt>
                <dd>정보처리산업기사</dd>
                <dt>2015.01.23</dt>
                <dd>M.O.S 2007 Master</dd>
            </dl>
        </div>

        <div class="inline-box-container">
            <h3>링크</h3>
            {% if site.tistory %}
            <div class="link-item"><a href="{{ site.tistory }}" target='_blank'><div class="tistory-icon"></div>개인 개발 블로그</a></div>
            {% endif %}
            <!--{% if site.github %}
            <div class="link-item"><a href="{{ site.github }}" target='_blank'><div class="github-icon"></div>깃허브 프로필</a></div>
            {% endif %}
            {% if site.linkedin %}
            <div class="link-item"><a href="{{ site.linkedin }}" target='_blank'><div class="linkedin-icon"></div>링크드인 프로필</a></div>
            {% endif %}-->
            <div class="link-item"><a href="https://github.com/MDJ0126/FPSGame" target='_blank'><div class="github-icon"></div>단기 개발 프로젝트 &lt;FPS 게임&gt;</a></div>
            <div class="link-item blur"><a href="https://mdj0126.github.io/WebGLProject/" target='_blank'><div class="link-icon"></div>WebGL 테스트 프로젝트</a></div>
        </div>

    </div>
</div>