<div class="projects">
    {% for post in site.posts reversed %}
    <div class="box-container">
        <div class="item">
            <div class="container">
                <div class="title-container">
                    <img class="title-icon" src="{{ site.baseurl }}/assets/img/icon/{{ post.icon }}" alt="{{ post.title }}">
                    <span class="title-text">{{ post.title }}</span><span class="title-release">{{ post.release }}</span>
                </div>
                <div class="content">
                    <div class="info-summary">
                        {% for phase in post.developmentPhase %}
                            <span class="developmentPhase">{{ phase }}</span>
                        {% endfor %}
                    </div>
                    <div class="gallery-container">
                        <button class="prev-button"></button>
                        <div class="gallery">
                            {% if post.youtubeId %}
                            <div class="gallery-item">
                                <div class="gallery-item-content">
                                    {% include youtube.html id=post.youtubeId %}
                                </div>
                            </div>
                            {% endif %}
                            {% for image in post.images %}
                            <div class="gallery-item">
                                <div class="gallery-item-content">
                                    <img src="{{ site.baseurl }}/assets/img/post/{{ image }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="next-button"></button>
                    </div>
                    <div class="info-container">
                        <div class="info-item-dt">기간</div>
                        <div class="info-item-dt">소속회사</div>
                        <div class="info-item-dt">장르</div>
                        <div class="info-item-dd">{{ post.period }}</div>
                        <div class="info-item-dd">{{ post.group }}</div>
                        <div class="info-item-dd">{{ post.genre }}</div>
                        <div class="info-item-dt">기술</div>
                        <div class="info-item-dt">개발도구</div>
                        <div class="info-item-dt">관리도구</div>
                        <div class="info-item-dd">{{ post.tech }}</div>
                        <div class="info-item-dd">{{ post.tools }}</div>
                        <div class="info-item-dd">{{ post.project_managed }}</div>
                    </div>
                    <ol>
                        {% for item in post.works %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        document.querySelectorAll(".gallery-container").forEach(container => {
            const gallery = container.querySelector(".gallery");
            const images = container.querySelectorAll(".gallery-item");
            const prevBtn = container.querySelector(".prev-button");
            const nextBtn = container.querySelector(".next-button");
            let index = 0;

            function updateGallery() {
                gallery.style.transform = `translateX(-${index * 100}%)`;
            }

            if (nextBtn) {
                nextBtn.addEventListener("click", () => {
                    index = (index + 1) % images.length;
                    updateGallery();
                });
            }

            if (prevBtn) {
                prevBtn.addEventListener("click", () => {
                    index = (index - 1 + images.length) % images.length;
                    updateGallery();
                });
            }
        });
    </script>
</div>