<!DOCTYPE html>
<html lang="ko">
    {% include head.html %}
<body>
    <div id="block">
        <div class="loader"></div>
        <div>로딩 중...</div>
    </div>
    <script>
        document.body.classList.add("loading");
        window.onload = function () {
            requestAnimationFrame(() => {
                setTimeout(() => {
                    var block = document.getElementById("block");
                    if (block) {
                        block.style.opacity = "0"; // 서서히 투명해짐
                        setTimeout(() => {
                            block.remove(); // 완전히 사라진 후 삭제
                            document.body.classList.remove("loading"); // 로딩 끝나면 스크롤 복원
                        }, 100); // transition 시간과 동일하게 맞춤 (0.1초)
                    }
                }, 0);
            });
        };
    </script>
    <div class="background" style="background-image: url({{ site.baseurl }}/assets/img/common/pattern.png)">
        <div class="cover">
            <div class="frame">
                <main>
                    {{ content }}
                </main>
                <footer>
                    <!--<hr />-->
                    <div>
                        <p>
                            &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Dongjun Moon.
                        </p>
                        <span>
                            이력서 사이트 내용의 모든 권리는 저작권자에게 있으며, 라이센스 위반 시 법적 책임이 발생할 수 있습니다.
                        </span>
                        <br />
                        <span>
                            <a href="https://raw.githubusercontent.com/MDJ0126/Resume/refs/heads/main/LICENSE">LICENSE 확인하기</a>
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>