<!DOCTYPE html>
<html lang="ko">
    {% include head.html %}
<body>
    <div class="background" style="background-image: url({{ site.baseurl }}/assets/img/common/pattern.png)">
        <div class="cover">
            <div class="frame">
                <main>
                    {{ content }}
                </main>
                <footer>
                    <!--<hr />-->
                    <div style="margin-bottom: 20px;">
                        <span>
                            본 프로젝트의 모든 권리는 저작권자에게 있으며, 라이센스 위반 시 법적 책임이 발생할 수 있습니다.
                        </span>
                        <br />
                        <span>
                            <a href="https://raw.githubusercontent.com/MDJ0126/Resume/refs/heads/main/LICENSE">"Goto LICENSE"</a>
                        </span>
                    </div>
                    <div style="">
                        <span>
                            &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Dongjun Moon.
                        </span>
                        <br />
                        <span>
                            Thank you.
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>